*{
    font-family: 'Roboto Mono', monospace;
}

nav {
    text-align: justify;
    padding: 0.5rem 5rem 2rem 5rem;
}

nav:after {
	content: '';
	display: inline-block;
	width: 100%;
}

nav a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 0.5rem 1.7rem;
    border-radius: 0.4rem;
}

.sign-up {
    background-color: #FF764E;
}

.info {
    background-color: #5ED3EB;
}

.compare {
    background-color: #FFCD69;
}

.container {
    padding: 0 5rem;
}

#first-bar:after {
	content: '';
	display: inline-block;
	width: 100%;
}

#first-image {
    display: inline-block;
    height: 15rem;
    width: 15rem;
}

#first-image img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 100%;
}

#first-text{
    text-align: center;
    display: inline-block;
    vertical-align: top;
    width: 25rem;
    padding-left: 15rem;
    padding-top: 3rem;
}

#first-header {
    text-align: center;
    font-family: 'Chelsea Market', cursive;
}

#main-text {
    color: white;
    background-color: #DDB9A3;
    padding: 0.1rem 1rem;
    border-radius: 0.5rem;
}

#vehicles {
    margin: 2.5rem 0;
}

.vehicle{
    text-align: center;
    width: 17rem;
    padding-top: 3rem;
    margin: 0 auto;
}

.vehicle-image{
    width: 5rem;
    margin: 0 auto;
}

.vehicle-text span {
    font-weight: bold;
}

footer {
    height: 20rem;
    width: 100%;
    background-color: #F9E7DC;
}

#footer-image {
    height: 15rem;
    width: 100%;
}

#footer-image img{
    object-position: top;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

footer nav {
    padding-top: 1rem;
}