*{
    font-family: 'Roboto Mono', monospace;
}

header nav {
    text-align: justify;
    padding: 0.5rem 5rem 2rem 5rem;
}

header nav:after {
	content: '';
	display: inline-block;
	width: 100%;
}

header nav a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 0.5rem 1.7rem;
    border-radius: 0.4rem;
}

.sign-up {
    background-color: #FF764E;
}

.info {
    background-color: #5ED3EB;
}

.compare {
    background-color: #FFCD69;
}

.container {
    padding: 0 5rem;
}

#top-bar:after {
	content: '';
	display: inline-block;
	width: 100%;
}

#top-image {
    display: inline-block;
    height: 15rem;
    width: 15rem;
}

#top-image img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 100%;
}

#top-text{
    text-align: center;
    display: inline-block;
    vertical-align: top;
    width: 25rem;
    padding-left: 15rem;
    padding-top: 3rem;
}

#top-header {
    text-align: center;
    font-family: 'Chelsea Market', cursive;
}

#main-text {
    color: white;
    background-color: #DDB9A3;
    padding: 0.1rem 1rem;
    border-radius: 0.5rem;
}